

header.text-bg-dark {
  background-color: #161b24 !important;
}

.hover-effect {
  transition: all 0.15s ease;
}

.hover-effect:hover {
  transform: scale(1.1);
  color: #ffff !important;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.375);
}

td, tr
{
  border-bottom: 1px solid rgb(81, 81, 81);
}